* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Outfit:wght@100..900&family=Young+Serif&display=swap');



body {
    /* font-family: 'Young Serif'; */
    /* font-family: "Young Serif", serif; */
    background-color: antiquewhite;
}


.container {
    width: 58%;
    background-color: hsl(0, 0%, 100%);
    margin: 50px auto;
    padding: 10px;
    border-radius: 1rem;
}


#omelette {
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}

h1 {
    margin-top: 1rem;
    font-family: "Young Serif", serif;


}